@import '../../styles/variables';

.top {
  margin-bottom: 250px;
  .inner {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    canvas {
      opacity: 0;
    }
  }
  .backtext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: $f2;
    font-size: 366px;
    line-height: 446px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.15em;
    color: #101010;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      transition: 0.75s;
      opacity: 0;
    }
  }
  .content {
    position: relative;
    width: 45%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    position: absolute;
    display: flex;
    align-items: center;
    left: -13%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-90deg);
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 0;
    span {
      width: 25px;
      margin-bottom: -15px;
    }
  }
  .box__pattern {
    position: absolute;
    top: 0%;
    right: -25px;
    transform: translateY(-255%) scale(1, -1);
    width: 170px;
    height: 350px;
    transition: 1.5s;
    svg {
      fill: #fff;
      width: 100%;
      height: 100%;
    }
  }
  .pattern {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 730px;
    z-index: -10;
    fill: $main;
    path {
      opacity: 0;
      transform-origin: center;
      transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: scale(0);
    }
  }
  .circles {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 290px;
    height: 580px;
    overflow: hidden;
    opacity: 0;
  }
  .circle:nth-child(1) {
    width: 580px;
    height: 580px;
    fill: transparent;
    stroke: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
  }
  .circle:nth-child(2) {
    width: 580px;
    height: 580px;
    fill: transparent;
    z-index: 500;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg) scale(-1, 1);
    circle {
      stroke-width: 2px;
      stroke: #000;
      stroke-dasharray: 962;
      stroke-dashoffset: 0;
    }
    @keyframes dash {
      0% {
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dashoffset: 962;
      }
    }
  }
  .icon1,
  .icon2 {
    position: absolute;
    opacity: 0;
    svg {
      fill: #fff;
      width: 100%;
      height: 100%;
    }
    animation: 8s topIcon infinite;
    @keyframes topIcon {
      50% {
        transform: translateY(-20px) rotate(10deg);
      }
    }
  }
  .icon1 {
    width: 16px;
    height: 90px;
    top: 17%;
    right: 15%;
    transition: 1s;
  }
  .icon2 {
    width: 40px;
    height: 70px;
    bottom: 15%;
    left: 15%;
    transition: 1s;
  }
}
.top {
  &:global(.is-inview) {
    .backtext {
      @for $i from 1 through 9 {
        span:nth-child(#{$i}) {
          transition-delay: $i * 0.15s;
        }
      }
      span {
        opacity: 1;
      }
    }
    .canvas canvas {
      transition-delay: 0.4s;
      opacity: 1;
    }
    .box__pattern {
      transition-delay: 2.3s;
      transform: translateY(-45%) scale(1, -1);
    }
    .title {
      transition-delay: 2.5s;
      opacity: 1;
    }
    .pattern {
      path {
        opacity: 1;
        transform: scale(0.85);
      }
      @for $i from 1 through 3 {
        path:nth-child(#{$i}) {
          transition-delay: $i * 0.1s + 2s;
        }
      }
    }
    .circles {
      opacity: 1;
    }
    .circle:nth-child(2) {
      circle {
        animation: dash 2s 2s linear forwards;
      }
    }
    .circle:nth-child(1) {
      opacity: 1;
      transition-delay: 2s;
      animation: dash 30s 5s linear infinite;
    }
    .icon1 {
      opacity: 1;
      transition-delay: 3.5s;
    }
    .icon2 {
      opacity: 1;
      transition-delay: 3.6s;
    }
  }
}
