
.input {
  position: relative;
  width: 100%;
  &.focus {
    label {
      top: -10px;
      left: 20px;
      font-size: 14px;
    }
  }
  textarea {
    height: 220px;
  }
  textarea,
  input {
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 12px 15px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
  label {
    pointer-events: none;
    transition: 0.4s;
    position: absolute;
    top: 14px;
    left: 13px;
    font-size: 18px;
    background-color: #000;
    padding: 0 5px;
  }
  svg {
    cursor: pointer;
    position: absolute;
    fill: #fff;
    width: 12px;
    top: 13px;
    right: 15px;
    opacity: 0.65;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  .password {
    width: 20px;
    right: 40px;
  }
}