.footer {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-right: 25px;
  justify-content: flex-end;
  position: relative;
  width: 100vw;
  height: 100px;
  filter: url('#goo');
  .hidden {
    display: none;
  }
  h1 {
    z-index: 100;
    color: #000;
    text-align: right;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 120%;
    height: 100px;
    clip-path: url('#wave');
    background-color: rgba(rgb(216, 216, 216), 1);
    transform: scale(-1, 1);
  }
  .ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(rgb(216, 216, 216), 1);
    position: absolute;
    animation: up 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
  }
  
  .bg {
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    pointer-events: none;
  }

  @keyframes up {
    0% {
      bottom: -20%;
      width: 50px;
      height: 50px;
    }
    50% {
      bottom: 70px;
    }
    100% {
      bottom: 0px;
      width: 0px;
      height: 0px;
    }
  }
  @keyframes up-small {
    0% {
      bottom: 0px;
      width: 100px;
      height: 100px;
    }
    50% {
      bottom: 200px;
    }
    100% {
      bottom: 0px;
      width: 0px;
      height: 0px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .footer::after {
    clip-path: none;
    height: 150px;
  }
}