@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);

@font-face{
	font-family: aromanus;
	font-display: swap;
	src: url("../public/assets/fonts/aromanus.woff2") format("woff2"), url("../public/assets/fonts/aromanus.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: mr_hamiltoneg;
	font-display: swap;
	src: url("../public/assets/fonts/mr_hamiltoneg.woff2") format("woff2"), url("../public/assets/fonts/mr_hamiltoneg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
