// --------- footer ----------
.footer {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-right: 25px;
  justify-content: flex-end;
  position: relative;
  width: 100vw;
  height: 100px;
  filter: url('#goo');
  .svg-hidden {
    display: none;
  }
  h1 {
    z-index: 100;
    color: #000;
    text-align: right;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 120%;
    height: 100px;
    clip-path: url('#wave');
    background-color: rgba(rgb(216, 216, 216), 1);
    transform: scale(-1, 1);
  }
  .footer-bg {
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    pointer-events: none;
  }
  .ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(rgb(216, 216, 216), 1);
    position: absolute;
    animation: up 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
  }
  @keyframes up {
    0% {
      bottom: -20%;
      width: 50px;
      height: 50px;
    }
    50% {
      bottom: 70px;
    }
    100% {
      bottom: 0px;
      width: 0px;
      height: 0px;
    }
  }
  @keyframes up-small {
    0% {
      bottom: 0px;
      width: 100px;
      height: 100px;
    }
    50% {
      bottom: 200px;
    }
    100% {
      bottom: 0px;
      width: 0px;
      height: 0px;
    }
  }
}
@media only screen and (max-width: 700px) {
  footer::after {
    clip-path: none;
    height: 150px;
  }
}

.root {
  padding: 150px 80px;
  .inner {
    display: flex;
  }
  .sidebar {
    margin-right: 50px;
    width: 20%;
  }
  .main {
    width: 80%;
    padding: 35px 0;
  }
}

.about {
  .btns {
    display: flex;
    align-items: center;
  }
  .closeUpdate{
    cursor: pointer;
    fill: #fff;
    width: 15px;
    height: auto;
    margin-left: 25px;
    opacity: 0.65;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}

.input {
  position: relative;
  width: 100%;
  &.focus {
    label {
      top: -10px;
      left: 20px;
      font-size: 14px;
    }
  }
  textarea {
    height: 220px;
  }
  textarea,
  input {
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 12px 15px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
  label {
    pointer-events: none;
    transition: 0.4s;
    position: absolute;
    top: 14px;
    left: 13px;
    font-size: 18px;
    background-color: #000;
    padding: 0 5px;
  }
  svg {
    cursor: pointer;
    position: absolute;
    fill: #fff;
    width: 12px;
    top: 13px;
    right: 15px;
    opacity: 0.65;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  .password {
    width: 20px;
    right: 40px;
  }
}

.block {
  width: 100%;
  .title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
  }
  &:not(:last-child) {
    margin-bottom: 120px;
  }
  .input:not(:last-child) {
    margin-bottom: 25px;
  }
}

.btn {
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 38px;
  border-radius: 20px;
  transition: 0.3s;
  &:hover {
    background-color: rgb(179, 179, 179);
  }
}

.sidebar {
  position: relative;
  .btn {
    margin-bottom: 50px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
  }
  ul {
    li {
      cursor: pointer;
      font-size: 24px;
      line-height: 30px;
      position: relative;
      padding-left: 30px;
      &.active {
        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #fff;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    li:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

.skills__list {
  counter-reset: list 1;
  .skills__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }
  .content {
    position: relative;
    padding-left: 55px;
    &::before {
      counter-increment: list list;
      content: counter(list);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-right: 25px;
      font-size: 40px;
      line-height: 48px;
      text-transform: uppercase;
      width: 45px;
    }
    h6 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 12px;
    }
    p {
      font-size: 20px;
      line-height: 24px;
      text-transform: capitalize;
      color: rgba(#fff, 0.5);
    }
  }
  .btns {
    display: flex;
    align-items: center;
    svg {
      fill: #fff;
      width: 20px;
      height: auto;
      cursor: pointer;
    }
    svg:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-gap: 45px;
}
.project {
  .img {
    position: relative;
    margin-bottom: 15px;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #fff;
    cursor: pointer;
    &:hover {
      .btns {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .btns {
      z-index: 25;
      opacity: 0;
      transition: 0.2s;
      background-color: rgba(#000, 0.7);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        background-color: rgb(147, 147, 147);
        border-radius: 15px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        opacity: 0.6;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          fill: #fff;
          width: 60%;
          height: auto;
        }
        &:hover {
          opacity: 1;
        }
      }
      .icon:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
}

.create {
  padding: 70px 70px;
  .back {
    opacity: 0.65;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    svg {
      fill: #fff;
      width: 15px;
      height: auto;
      margin-right: 20px;
    }
    p {
      font-size: 20px;
      line-height: 31px;
    }
  }
  .img {
    width: 850px;
    height: 500px;
    background-color: rgb(55, 55, 55);
    margin-bottom: 50px;
    cursor: pointer;
    position: relative;
    border: 1px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    input {
      position: absolute;
      z-index: 50;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
    }
    &:hover {
      .content {
        opacity: 1;
      }
    }
    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: 0.3s;
      background-color: rgba(#000, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        cursor: pointer;
        fill: #fff;
        width: 55px;
        height: auto;
        opacity: 1;
        transition: 0.2s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .input:not(:last-child) {
    margin-bottom: 50px;
  }
}

.auth__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .auth {
    width: 550px;
    border-radius: 15px;
    border: 1px solid #fff;
    padding: 100px 45px;
    .input {
      margin-bottom: 50px;
    }
  }
  .btn {
    width: 100%;
  }
}
